name: lint

on:
  pull_request:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-18.04
    container: cfgo/gh-actions:base
    
    steps:
      - uses: actions/checkout@v2
    
      - name: Query dependencies
        run: |
          saveRDS(remotes::dev_package_deps(dependencies = TRUE), "depends.Rds", version = 2)
        shell: Rscript {0}

      - name: Install dependencies
        run: |
          remotes::install_deps(dependencies = TRUE)
          remotes::install_cran("lintr")
        shell: Rscript {0}

      - name: Lint
        run: lintr::lint_package()
        shell: Rscript {0}
